<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SignUp Page</title>
</head>
<body>
	<h1>SIGN UP PAGE</h1>
	<hr>
	<div class="container">
		<form action="/signup" method="post">
			<label for="userId"> User ID</label>
			<input type="text" id="useerId" name="userId"
					placeholder="Enter your Id" required>
			<label for="userName"> User Name</label>
			<input type="text" id="useerName" name="userName"
					placeholder="Enter your Name" required>
			<label for="userId"> password</label>
			<input type="text" id="passWord" name="passWord"
					placeholder="Enter your password" required>
			<button type="submit">SIGN UP</button>
		</form>
	</div>
	
	<div class="action-button">
		<button onclick="location.href='/test'">HOME</button>
	
	</div>
</body>
</html>