<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LOGIN PAGE</title>
</head>
<body>
	
	<h1>LOGIN PAGE</h1>
	<hr>
	<div class="container">
	<h2>WELCOME</h2>
	<form action="/login" method="post">
		<!-- 아이디입력  -->
		<label for="userId">User ID</label>
		<input type="text" id="userId" name="userId" required>
		
		<!-- 패스워드 입력 -->
		<label for="passWord">User Password</label>
		<input type="password" id="passWord" name="passWord" required>
		<button type="submit">Log IN</button>
	</form>
	
	</div>
	
</body>
</html>